[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
neomodel = "*"
django-neomodel = {git = "git+https://github.com/CyrusOfEden/django-neomodel.git"}

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.12"
