{
  "DEBUG": true,
  "SECRET_KEY": "django-insecure-a%dz=$l(&!7m9&v!@@fd%hjt+a=3!ms$hv)80=+z&e_#%=l0x7",
  "ALLOWED_HOSTS": [
    "LIST OF ALLOWED HOSTS"
  ],
  "NEO4J_BOLD_URL": "bolt://user:password@localhost:7687/"
}